[user]
  email = stephen@cloudstitch.com
[core]
  excludesfile = /Users/stephen/.gitignore_global
  editor = /usr/bin/vim
[credential]
  helper = osxkeychain
[alias]
  aa = add -A
  br = branch
  ca = commit --amend
  cb = checkout -b
  cl = clone
  cm = commit -m
  co = checkout
  df = diff
  fu = fetch upstream
  lg = log --graph --pretty=format:'%C(green bold)%h%Creset%C(yellow)%d%Creset %s %C(173)%cr%Creset %C(cyan)%an%Creset' --abbrev-commit --date=relative
  mg = merge
  mum = merge upstream/master
  nt = init
  pl = pull
  po = push origin
  pom = push origin master
  ps = push
  ra = remote add
  rh = reset HEAD --hard
  rs = reset
  st = status
  unstage = reset HEAD --
  us = reset HEAD --
[color]
  branch = auto
  diff = auto
  status = auto
[color "branch"]
  current = yellow bold
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = 173 bold
  old = red bold
  new = green bold
[color "status"]
  added = green
  changed = 173
  untracked = cyan
[push]
	default = current
