"*":
  "atom-package-deps":
    ignored: []
  "atom-terminal":
    app: "Hyper.app"
  core:
    allowPendingPaneItems: false
    disabledPackages: [
      "language-c"
      "language-clojure"
      "language-csharp"
      "language-go"
      "language-java"
      "language-objective-c"
      "language-perl"
      "language-php"
      "language-toml"
      "markdown-preview"
      "metrics"
      "exception-reporting"
      "minimap-pigments"
      "deprecation-cop"
    ]
    ignoredNames: [
      ".git"
      ".svn"
      ".DS_Store"
      "bower_components"
      "node_modules"
      "vendor"
      ".sass-cache"
      ".bundle"
    ]
    projectHome: "/Users/stephen/"
    telemetryConsent: "no"
    themes: [
      "spacegray-dark-ui"
      "base16-ocean-dark-syntax-theme"
    ]
    titleBar: "custom-inset"
  editor:
    fontFamily: "Fira Code"
    fontSize: 13
    showIndentGuide: true
    tabType: "soft"
  "exception-reporting":
    userId: "43e6f179-6677-63e1-f571-5feef753b96f"
  linter:
    disabledProviders: [
      "CSSLint"
    ]
  "linter-sass-lint": {}
  "linter-ui-default":
    showPanel: true
  "markdown-preview-plus": {}
  minimap:
    plugins:
      bookmarks: true
      bookmarksDecorationsZIndex: 0
      cursorline: true
      cursorlineDecorationsZIndex: 0
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      pigments: true
      pigmentsDecorationsZIndex: 0
      selection: true
      selectionDecorationsZIndex: 0
  "release-notes":
    viewedVersion: "0.94.0"
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
